<body [ngClass]="{'dark-mode':this.themeService.isDarkTheme()}">
<section>
  <div class="container mt-5 pt-5">
    <div class="row">
      <div class="col-12 col-sm-8 col-md-6 m-auto">
        <div class="card border-0 shadow">
          <div class="card-body">
            <svg class="bi bi-person-circle mx-auto my-3" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
            </svg>
            <h3 class="text-center" [hidden]="user.getErrorMessage() == ''">{{user.errorMessage}}</h3>
            <div [hidden]="user.getErrorMessage() != ''">
              <h1 class="text-center">Your Profile</h1>
              <h5 class="mb-1">{{user.username}}</h5>
              <p class="mb-2 pb-1" style="color: #2b2a2a;">{{user.email}}</p>
              <h3>Stats</h3>
              <div class="d-flex justify-content-between rounded-3 p-2 mb-2"
                style="background-color: #efefef;">
                <div>
                  <p class="small text-muted mb-1">Completed</p>
                  <p class="mb-0">{{user.completed}}</p>
                </div>
                <div class="px-3">
                  <p class="small text-muted mb-1">Watching</p>
                  <p class="mb-0">{{user.watching}}</p>
                </div>
                <div>
                  <p class="small text-muted mb-1">Plan to watch</p>
                  <p class="mb-0">{{user.plan_to_watch}}</p>
                </div>
                <div>
                  <p class="small text-muted mb-1">On Hold</p>
                  <p class="mb-0">{{user.on_hold}}</p>
                </div>
                <div>
                  <p class="small text-muted mb-1">Dropped</p>
                  <p class="mb-0">{{user.dropped}}</p>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
