<body [ngClass]="{'dark-mode':this.themeService.isDarkTheme()}" style="padding-top: 65px;">
<h1 [innerHTML]="'Title: ' + content.title"></h1>
<h1 [innerHTML]="'Description: ' + content.description"></h1>
<img [src]="content.poster" width="400">
<h1 [innerHTML]="'Release Date: ' + content.releaseDate"></h1>

<h1 [innerHTML]="'Runtime: ' + content.runtime" *ngIf="content.runtime"></h1>
<h1 [innerHTML]="'Seasons: ' + content.seasons" *ngIf="content.seasons"></h1>
<h1 [innerHTML]="'Episodes: ' + content.episodes" *ngIf="content.episodes"></h1>
</body>