<body [ngClass]="{'dark-mode':this.themeService.isDarkTheme()}" style="padding-top: 65px;">
  <section>
    <div class="container mt-4 pt-5">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <img [src]="content.poster" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{content.title}}</h5>
              <p class="card-text"><small class="text-muted">Release Date:{{content.releaseDate}}</small></p>
              <p>Status</p>
              <button [hidden]="show()" title="Plan to watch" class="btn btn-outline-success my-2 my-sm-0" type="submit" value="planned" (click)="addPlanned()"><fa-icon [icon]="faSquarePlus"></fa-icon></button>
              <button [hidden]="show()" title="Watching" class="btn btn-outline-success my-2 my-sm-0" type="submit" value="watching" (click)="addWatching()"><fa-icon [icon]="faEye"></fa-icon></button>
              <button [hidden]="show()" title="Completed" class="btn btn-outline-success my-2 my-sm-0" type="submit" value="completed" (click)="addCompleted()"><fa-icon [icon]="faSquareCheck"></fa-icon></button>
              <button [hidden]="show()" title="On Hold" class="btn btn-outline-success my-2 my-sm-0" type="submit" value="onHold" (click)="addOnHold()"><fa-icon [icon]="faStop"></fa-icon></button>
              <button [hidden]="show()" title="Dropped" class="btn btn-outline-success my-2 my-sm-0" type="submit" value="dropped" (click)="addDropped()"><fa-icon [icon]="faSquareXmark"></fa-icon></button>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{content.title}}</h5>
              <p class="card-text">{{content.description}}</p>
              <p [innerHTML]="'Runtime: ' + content.runtime" *ngIf="content.runtime"></p>
              <p [innerHTML]="'Seasons: ' + content.seasons" *ngIf="content.seasons"></p>
              <p [innerHTML]="'Episodes: ' + content.episodes" *ngIf="content.episodes"></p>
              <p class="card-text"><small class="text-muted">{{content.releaseDate}}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
