<body [ngClass]="{'dark-mode':this.themeService.isDarkTheme()}" style="padding-top: 65px;">
    <section>
      <div class="container mt-4 pt-5">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <img [src]="content.poster" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{content.title}}</h5>
                <p class="card-text">{{content.ageRating}}</p>
                <p class="card-text"><small class="text-muted">{{content.startDate}}</small></p>
                <p class="card-text"><small class="text-muted" [hidden]="content.showType=='movie'">{{content.endDate}}</small></p>
                <button [hidden]="show()"  class="btn btn-outline-success my-2 my-sm-0" type="submit" value="planned" (click)="addPlanned()"><fa-icon [icon]="faSquarePlus"></fa-icon></button>
                <button [hidden]="show()" class="btn btn-outline-success my-2 my-sm-0" type="submit" value="completed" (click)="addCompleted()"><fa-icon [icon]="faSquareCheck"></fa-icon></button>
                <button [hidden]="show()" class="btn btn-outline-success my-2 my-sm-0" type="submit" value="stopped" (click)="addStopped()"><fa-icon [icon]="faSquareCaretRight"></fa-icon></button>
                <button [hidden]="show()" class="btn btn-outline-success my-2 my-sm-0" type="submit" value="watching" (click)="addWatching()"><fa-icon [icon]="faEye"></fa-icon></button>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{content.title}}</h5>
                <p class="card-text">{{content.synopsis}}</p>
                <p [innerHTML]="'Episodes: ' + content.episodeCount" *ngIf="content.episodeCount" [hidden]="content.showType=='movie'"></p>
                <p [innerHTML]="'Episode Length: ' + content.episodeLength"></p>
                <p [innerHTML]="'Show Type: ' + content.showType"></p>
                <p [innerHTML]="'Status: ' + content.status"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</body>
