<body [ngClass]="{'dark-mode':this.themeService.isDarkTheme()}" style="padding-top: 65px;">
    <section>
      <div class="container mt-4 pt-5">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <img [src]="content.poster" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{content.title}}</h5>
                <p class="card-text">Rating: {{content.ageRating}}</p>
                <p class="card-text"><small class="text-muted">Release Date: {{content.startDate}}</small></p>
                <p class="card-text"><small class="text-muted" [hidden]="content.showType=='movie'">End Date: {{content.endDate}}</small></p>
                <p>Status</p>
                <button [hidden]="show()" title="Plan to watch" class="btn btn-outline-success my-2 my-sm-0" type="submit" value="planned" (click)="addPlanned()"><fa-icon [icon]="faSquarePlus"></fa-icon></button>
                <button [hidden]="show()" title="Watching" class="btn btn-outline-success my-2 my-sm-0" type="submit" value="watching" (click)="addWatching()"><fa-icon [icon]="faEye"></fa-icon></button>
                <button [hidden]="show()" title="Completed" class="btn btn-outline-success my-2 my-sm-0" type="submit" value="completed" (click)="addCompleted()"><fa-icon [icon]="faSquareCheck"></fa-icon></button>
                <button [hidden]="show()" title="On Hold" class="btn btn-outline-success my-2 my-sm-0" type="submit" value="onHold" (click)="addOnHold()"><fa-icon [icon]="faStop"></fa-icon></button>
                <button [hidden]="show()" title="Dropped" class="btn btn-outline-success my-2 my-sm-0" type="submit" value="dropped" (click)="addDropped()"><fa-icon [icon]="faSquareXmark"></fa-icon></button>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{content.title}}</h5>
                <p class="card-text">{{content.synopsis}}</p>
                <p [innerHTML]="'Episodes: ' + content.episodeCount" *ngIf="content.episodeCount" [hidden]="content.showType=='movie'"></p>
                <p [innerHTML]="'Episode Length: ' + content.episodeLength"></p>
                <p [innerHTML]="'Show Type: ' + content.showType"></p>
                <p [innerHTML]="'Status: ' + content.status"></p>
              </div>
            </div>
            <div class="card" [hidden]="show()"> <!-- Da nascondere se l'utente ha recensito -->
              <div class="card-body">
                <p id="reviewHead">Write review</p>
                <form (ngSubmit)="onSubmit()">
                  <select class="form-text" id="rating" (change)="onVoteChange($event)">
                    <option value="0">0/5</option>
                    <option value="1">1/5</option>
                    <option value="2">2/5</option>
                    <option value="3">3/5</option>
                    <option value="4">4/5</option>
                    <option value="5">5/5</option>
                  </select>
                  <textarea class="form-control mr-sm-2" id="textarea" name="reviewText" placeholder="Leave your review here:" [formControl]="input"></textarea>
                  <button class="btn btn-primary" type="submit" id="submit">Submit</button>
                </form>
              </div>
            </div>
            <!-- <div class="card"> Da mettere hidden se l'utente non ha ancora scritto recensioni
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <p>User's nickname</p>
                  </div>
                  <div class="col">
                    <p>Score /5</p>
                  </div>
                </div>
                <p id="reviewText">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam."</p>
              </div>
              <fa-icon [icon]="faTrashCan" class="menu-entry" id="delete"></fa-icon>
            </div> -->
            <!-- <div class="card" *ngFor="let revs of ">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <p>User: {{revs.id_user}}</p>
                  </div>
                  <div class="col">
                    <p>Score {{revs.vote}}/5</p>
                  </div>
                </div>
                <p id="reviewText">{{revs.user_comment}}</p>
              </div>
              <fa-icon [icon]="faTrashCan" class="menu-entry" id="delete" [hidden]="revs.id_user!=this.CookieService.get('id_user')"></fa-icon>
            </div>-->
          </div>
        </div>
      </div>
    </section>
</body>


