body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container{
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form{
  background-color: white;
}

#bottom_pw{
  background-color: white;
}

#bottom_em{
  background-color: white;
}

#bottom_uname{
  background-color: white;
}