<body [ngClass]="{'dark-mode':this.themeService.isDarkTheme()}" class="vh-100">
<div class="container mt-3 d-flex flex-column justify-content-center align-items-center my-auto">
  <h1 style="padding-bottom: 5%;" [ngClass]="{'dark-mode':this.themeService.isDarkTheme()}">Settings</h1>
  <h3 [hidden]="!server_error" [ngClass]="{'dark-mode':this.themeService.isDarkTheme()}">{{sever_error_message}}</h3>
  <!-- Change Password Form -->
  <div class="row d-flex flex-row align-items-start">
    <div class="col">
      <div class="card border-0 shadow" [hidden]="server_error">
        <div class="card-body">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-fill-lock" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-9 8c0 1 1 1 1 1h5v-1a2 2 0 0 1 .01-.2 4.49 4.49 0 0 1 1.534-3.693Q8.844 9.002 8 9c-5 0-6 3-6 4m7 0a1 1 0 0 1 1-1v-1a2 2 0 1 1 4 0v1a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1zm3-3a1 1 0 0 0-1 1v1h2v-1a1 1 0 0 0-1-1"/>
          </svg>
          <h3 [hidden]="!password_mismatch" [ngClass]="{'hidden': !password_mismatch}" [innerHTML]="password_mismatch_message" style="color: red;" ></h3>
          <form (ngSubmit)="change_password(changePasswordForm)" id="password changer" method="post" #changePasswordForm="ngForm">
            <div class="spacingForm">
              <input type="password" name="new_password" ngModel #new_password="ngModel" minlength="8" required class="form-control my-3.py-2" placeholder="New Password" (input)="checkPassword(new_password.value)">
              <div class="error" *ngIf="new_password.touched">
                <p *ngIf="passwordErrors.length > 0" style="color: red;" > {{passwordErrors.join('\n')}} </p>
                <p *ngIf="new_password.errors?.['minlength']" style="color: red;" >Password must be at least 8 characters long</p>
                <p *ngIf="new_password.errors?.['required']" style="color: red;" >Field required</p>
              </div>
            </div>
            <div class="spacingForm">
              <input type="password" name="confirm_password" ngModel #confirm_password="ngModel" required class="form-control my-3.py-2" placeholder="Confirm Password">
              <div class="error" *ngIf="confirm_password.touched">
                <p *ngIf="confirm_password.errors?.['required']" style="color: red;" >Field required</p>
              </div>
            </div>
            <div class="text-center spacingForm" id="bottom_pw">
              <button class="btn btn-primary" type="submit" name="change_password_btn" [disabled]="changePasswordForm.invalid">Change Password</button>
            </div>
            <div class="container" style="padding-top: 5%;" [hidden]="changePasswordForm.invalid">
              <span class="badge bg-warning">Warning: this will log you out</span>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Change Email Form -->
    <div class="col">
      <div class="card border-0 shadow" [hidden]="server_error">
        <div class="card-body">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
          </svg>
          <h3 [hidden]="!emails_dont_match" [ngClass]="{'hidden': !emails_dont_match}" [innerHTML]="emails_dont_match_message" style="color: red;" ></h3>
          <h3 [hidden]="!error_change_email" [ngClass]="{'hidden': !error_change_email}" [innerHTML]="error_change_email_message" style="color: red;" ></h3>
          <form (ngSubmit)="change_email(changeMailForm)" method="post" #changeMailForm="ngForm">
            <div class="spacingForm">
              <input type="email" name="new_email" ngModel #new_email="ngModel" required email class="form-control my-3.py-2" placeholder="New Email">
              <div class="error" *ngIf="new_email.touched">
                <p *ngIf="new_email.errors?.['required']" style="color: red;" >Field required</p>
                <p *ngIf="new_email.errors?.['email']" style="color: red;" >Not a valid Email</p>
              </div>
            </div>
            <div class="spacingForm">
              <input type="email" name="confirm_email" ngModel #confirm_email="ngModel" required email  class="form-control my-3.py-2" placeholder="Confirm Email">
              <div class="error" *ngIf="confirm_email.touched">
                <p *ngIf="confirm_email.errors?.['required']" style="color: red;" >Field required</p>
                <p *ngIf="confirm_email.errors?.['email']" style="color: red;" >Not a valid Email</p>
              </div>
            </div>
            <div class="text-center spacingForm" id="bottom_em">
              <button class="btn btn-primary" type="submit" name="change_email_btn" [disabled]="changeMailForm.invalid">Change E-mail</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Change Username Form -->
    <div class="col">
      <div class="row-12 row-sm-8 row-md-6 m-auto">
        <div class="card border-0 shadow" [hidden]="server_error">
          <div class="card-body">
            <svg class="bi bi-person-circle mx-auto my-3" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
            </svg>
            <h3 [hidden]="!error_change_username" [ngClass]="{'hidden': !error_change_username}" [innerHTML]="error_change_username_message" style="color: red;" ></h3>
            <form (ngSubmit)="change_username(changeUsernameForm)" method="post" #changeUsernameForm="ngForm">
              <input type="text" name="new_username" minlength="6" ngModel #new_username="ngModel" required class="form-control my-3.py-2" placeholder="New Username">
              <div class="error" *ngIf="new_username.touched">
                <p *ngIf="new_username.errors?.['minlength']" style="color: red;" >Username must be at least 6 characters long</p>
                <p *ngIf="new_username.errors?.['required']" style="color: red;" >Field required</p>
              </div>
              <div class="text-center spacingForm" id="bottom_uname">
                <button class="btn btn-primary" type="submit" name="change_uname_btn" [disabled]="changeUsernameForm.invalid">Change Username</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
<div class="col">
  <div class="row-12 row-sm-8 row-md-6 m-auto">
    <div class="card border-0 shadow" [hidden]="server_error">
      <div class="card-body">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="50" height="50" >
          <path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/>
        </svg>

        <label><input type="checkbox" name="email_notification" (change)="setNotificationByEmail()"  [(ngModel)]="isChecked"  placeholder="email_notification"> Notification by email</label>

      </div>
    </div>
  </div>
</div>
  <!-- Delete Account Form -->
  <div class="col" id="deleteForm">
    <div class="row-12 row-sm-8 row-md-6 m-auto">
      <div class="card border-0 shadow" [hidden]="server_error">
        <div class="card-body">
          <fa-icon [icon]="faUserMinus" class="fa-2xl"></fa-icon>
          <h3 [hidden]="!wrong_password_deletion" [ngClass]="{'hidden': !wrong_password_deletion}" [innerHTML]="wrong_password_deletion_message" style="color: red;" ></h3>
          <form (ngSubmit)="delete_account(deleteForm)" method="post" #deleteForm="ngForm">
            <div class="spacingForm">
              <input type="password" name="password" ngModel #password="ngModel" required password class="form-control my-3.py-2" placeholder="Password">
            </div>
            <div class="error" *ngIf="password.touched">
              <p *ngIf="password.errors?.['required']" style="color: red;" >Field required</p>
            </div>
            <div class="text-center spacingForm" >
              <button class="btn btn-danger" type="submit" name="delete_btn" [disabled]="deleteForm.invalid">Delete Account</button>
            </div>
            <div class="container" style="padding-top: 5%;" [hidden]="deleteForm.invalid">
              <span class="badge bg-danger">Warning: this action is irreversible</span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
