<h1>Settings</h1>
  <div>
      <div>
        <h3>Change Password</h3>
        <form (ngSubmit)="change_password()" method="post">
          <div>
            <label>Old Password</label>
            <input type="password" name="old_password" id="old_password" placeholder="Old Password">
          </div>
          <div>
            <label>New Password</label>
            <input type="password" name="new_password" id="new_password" placeholder="New Password">
          </div>
          <div>
            <label>Confirm Password</label>
            <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password">
          </div>
          <button type="submit" name="change_password_btn">Change Password</button>
        </form>
      </div>
      <div>
        <h3>Change Email</h3>
        <form (ngSubmit)="change_email()" method="post">
          <div>
            <label>Old Email</label>
            <input type="email" name="old_email" id="old_email" placeholder="Old Email">
          </div>
          <div>
            <label>New Email</label>
            <input type="email" name="new_email" id="new_email" placeholder="New Email">
          </div>
          <div>
            <label>Confirm Email</label>
            <input type="email" name="confirm_email" id="confirm_email" placeholder="Confirm Email">
          </div>
          <button type="submit" name="change_email_btn">Change Email</button>
        </form>
      </div>
      <div>
        <h3>Change Username</h3>
        <form (ngSubmit)="change_username()" method="post">
          <div>
            <label>New Email</label>
            <input type="text" name="new_username" id="new_username" placeholder="New Username">
          </div>
          <div>
            <label>Confirm Email</label>
            <input type="text" name="confirm_email" id="confirm_username" placeholder="Confirm Username">
          </div>
          <button type="submit" name="change_username_btn">Change Username</button>
        </form>
      </div>
      <div>
        <h3>Change theme</h3>
        <form (ngSubmit)="set_light_theme()" method="post">
          <button type="submit" name="light_theme">Light</button>
        </form>
        <form (ngSubmit)="set_dark_theme()" method="post">
          <button type="submit" name="dark_theme">Dark</button>
        </form>
      </div>
  </div>
