<nav class="navbar fixed-top mb-4" [ngClass]="{'dark-mode':this.themeService.isDarkTheme()}">
  <nav class="navbar-brand" [ngClass]="{'dark-mode':this.themeService.isDarkTheme()}">
    <img src="favicon.ico" alt="" width="30" height="30" class="d-inline-block align-top">
    VideoTracker
  </nav>
  <a></a>
  <a></a>
  <a [routerLink]="['/home']"><fa-icon [icon]="faHouse"></fa-icon></a>
  <a [routerLink]="['/user-list']"><fa-icon [icon]="faBookmark"></fa-icon> </a>
  <a [routerLink]="['/about']"><fa-icon [icon]="faAddressCard"></fa-icon> </a>
  <a [routerLink]="['/mailbox']"><fa-icon [icon]="faEnvelope"></fa-icon> </a>
  <a [routerLink]="['/settings']"><fa-icon [icon]="faGear"></fa-icon></a>
  <a [routerLink]="['/login']" [hidden]="isUserLoggedIn()"><fa-icon [icon]="faDoorClosed"></fa-icon> </a>
  <a [routerLink]="['/home']" [hidden]="!isUserLoggedIn()" (click)="logout()"><fa-icon [icon]="faDoorOpen"></fa-icon> </a>
  <a [routerLink]="['/signin']" [hidden]="isUserLoggedIn()"><fa-icon [icon]="faRightToBracket"></fa-icon> </a>
  <a [routerLink]="[]" [hidden]="!this.themeService.isDarkTheme()" (click)="this.themeService.toggleTheme()"><fa-icon [icon]="faSun"></fa-icon></a>
  <a [routerLink]="[]" [hidden]="this.themeService.isDarkTheme()" (click)="this.themeService.toggleTheme()"><fa-icon [icon]="faMoon"></fa-icon></a>
  <a></a>
</nav>

<form (ngSubmit)="onSubmit()" class="mt-4" style="z-index: 99" >
  <nav id="searchbar" class="navbar position-fixed start-50 translate-middle-x mt-3 w-100" [ngClass]="{'dark-mode':this.themeService.isDarkTheme()}">
    <div class="container d-flex justify-content-center align-items-center w-100">
    <input class="searchbar" type = "text" id="search" [formControl]="input"  placeholder="find something...">
    <button class="custom-submit-button" type="submit" [routerLink]="['/searchresults']" value="Find"><fa-icon [icon]="faMagnifyingGlass"></fa-icon></button>
    <select id="type" (change)="onTMDBTypeChange($event)" [hidden]="serverInfo.get('API') == 'Kitsu'">
      <option value="movie" selected>Movies</option>
      <option value="tv">TV Shows</option>
    </select>
    <select id="year" (change)="onTMDBYearChange($event)" name="year" [hidden]="serverInfo.get('API') == 'Kitsu'">
      <option value="none" selected>Select a year</option>
      <option value="{{item}}" *ngFor="let item of range">{{item}}</option>
    </select>
    <select id="category" (change)="onKitsuCategoryChange($event)" [hidden]="serverInfo.get('API') == 'TMDB'">
      <option value="none" selected>Select a category</option>
      <option value="adventure">Adventure</option>
      <option value="horror">Horror</option>
    </select>
    </div>
  </nav>
</form>
