<nav class="navbar navbar-expand-sm fixed-top mb-4 navbar-dark" [ngClass]="{'dark-mode':this.themeService.isDarkTheme()}">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
    <div class="navbar-brand" [ngClass]="{'dark-mode':this.themeService.isDarkTheme()}">
      <img src="../../assets/film.svg" alt="" width="30" height="30" class="d-inline-block align-top iconFilter">
      VideoTracker
    </div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item px-lg-5 px-sm-3 px-1">
        <a class="nav-link" [routerLink]="['/home']"><fa-icon [icon]="faHouse"></fa-icon></a>
      </li>
      <li class="nav-item px-lg-5 px-sm-3 px-1">
        <a class="nav-link" [routerLink]="['/user-list']"><fa-icon [icon]="faBookmark"></fa-icon></a>
      </li>
      <li class="nav-item px-lg-5 px-sm-3 px-1">
        <a class="nav-link" [routerLink]="['/mailbox']"><fa-icon [icon]="faEnvelope"></fa-icon></a>
      </li>
      <li class="nav-item px-lg-5 px-sm-3 px-1">
        <a class="nav-link" [routerLink]="['/settings']"><fa-icon [icon]="faGear"></fa-icon></a>
      </li>
      <li class="nav-item px-lg-5 px-sm-3 px-1" [hidden]="!isUserLoggedIn()">
        <a class="nav-link" [routerLink]="['/profile']"><fa-icon [icon]="faUser"></fa-icon></a>
      </li>
      <li class="nav-item px-lg-5 px-sm-3 px-1">
        <a class="nav-link" [routerLink]="['/login']" [hidden]="isUserLoggedIn()"><fa-icon [icon]="faDoorClosed"></fa-icon></a>
        <a class="nav-link" [routerLink]="['/home']" [hidden]="!isUserLoggedIn()" (click)="logout()"><fa-icon [icon]="faDoorOpen"></fa-icon></a>
      </li>
      <li class="nav-item px-lg-5 px-sm-3 px-1" [hidden]="isUserLoggedIn()">
        <a class="nav-link" [routerLink]="['/signin']"><fa-icon [icon]="faRightToBracket"></fa-icon></a>
      </li>
      <li class="nav-item px-lg-5 px-sm-3 px-1">
        <a class="nav-link" style="cursor: pointer;" [hidden]="!this.themeService.isDarkTheme()" (click)="this.themeService.toggleTheme()"><fa-icon [icon]="faSun"></fa-icon></a>
        <a class="nav-link" style="cursor: pointer;" [hidden]="this.themeService.isDarkTheme()" (click)="this.themeService.toggleTheme()"><fa-icon [icon]="faMoon"></fa-icon></a>
      </li>
      <li class="nav-item">
        <form class="form-inline my-2 my-lg-0" (ngSubmit)="onSubmit()">
          <div class="d-flex">
            <input class="form-control mr-sm-2" type = "text" id="search" [formControl]="input"  placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Find"><fa-icon [icon]="faMagnifyingGlass"></fa-icon></button>
            <select class="form-select" id="type" (change)="onTMDBTypeChange($event)" [hidden]="apiIs('Kitsu')">
              <option value="movie" selected>Movies</option>
              <option value="tv">TV Shows</option>
            </select>
            <select class="form-select" id="year" (change)="onTMDBYearChange($event)" name="year" [hidden]="apiIs('Kitsu')">
              <option value="none" selected>Select a year</option>
              <option value="{{item}}" *ngFor="let item of range">{{item}}</option>
            </select>
            <select class="form-select" id="category" (change)="onKitsuCategoryChange($event)" [hidden]="apiIs('TMDB')">
              <option value="none" selected>Select a category</option>
              <option value="action">Action</option>
              <option value="adventure">Adventure</option>
              <option value="comedy">Comedy</option>
              <option value="crime">Crime</option>
              <option value="drama">Drama</option>
              <option value="horror">Horror</option>
              <option value="mystery">Mystery</option>
              <option value="romance">Romance</option>
              <option value="fantasy">Sci-Fi</option>
              <option value="sports">Sports</option>
              <option value="thriller">Thriller</option>
            </select>
          </div>
        </form>
      </li>
    </ul>
  </div>
</nav>
