<nav>
  <a [routerLink]="['/home']">Home </a>
  <a [routerLink]="['/user-list']">List </a>
  <a [routerLink]="['/about']">About </a>
  <a [routerLink]="['/settings']"><fa-icon [icon]="faGear"></fa-icon></a>
  <a [routerLink]="['/login']">Log in</a>
  <a [routerLink]="['/signin']">Sign in</a>
</nav>
<form (ngSubmit)="onSubmit()">
  <input type = "text" id="search" [formControl]="input" placeholder="find something...">
  <input type = "submit" value="Find">
  <select id="type" (change)="onTMDBTypeChange($event)" [hidden]="serverInfo.get('API') == 'Kitsu'">
    <option value="movie" selected>Movies</option>
    <option value="tv">TV Shows</option>
  </select>
  <select id="year" (change)="onTMDBYearChange($event)" name="year" id="year" [hidden]="serverInfo.get('API') == 'Kitsu'">
    <option value="none" selected>Select a year</option>
    <option value="{{item}}" *ngFor="let item of range">{{item}}</option>
  </select>
  <select id="category" (change)="onKitsuCategoryChange($event)" [hidden]="serverInfo.get('API') == 'TMDB'">
    <option value="none" selected>Select a category</option>
    <option value="adventure">Adventure</option>
    <option value="horror">Horror</option>
  </select>
</form>
