@import 'bootstrap/dist/css/bootstrap.min.css';
body{
  margin:0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Cantarell', sans-serif;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
}

nav{
  background-color: #fff;
}

nav.dark-mode{
  background-color: #444;
}

p{
  font-family: Cantarelle, sans-serif;
  color: #333;
}

p.dark-mode{
  color: white;
}

form.dark-mode{
  background-color: #222;
  text-color: white;
}

.main-container{
  flex: 1;
}

footer{
  padding: 10px;
  text-align: center;
  background-color: #333;
  margin-top: auto;
}

footer.dark-mode{
  background-color: white;
}

body.dark-mode{
  background-color: #333;
  color: #fff;
}
