#Default{
  color: gray;
}
#Watching{
  color: blue;
}
#Completed{
  color: green;
}
#OnHold{
  color: orange;
}
#Dropped{
  color: red;
}
#PTW{
  color: purple;
}
#delete:hover{
  color:red;
}

.menu-entry{
  cursor: pointer;
}