<body [ngClass]="{'dark-mode':this.themeService.isDarkTheme()}">
  <div class="container mt-4 pt-5">
    <div class="row">
      <div class="col-12">
        <!-- <p [innerHTML]="user.username">'s list</p> -->
        <h3 [hidden]="!delete_error" [ngClass]="{'hidden': !delete_error}" [innerHTML]="delete_error_str" style="color: red;" ></h3>
        <table class="table table-striped">
          <thead>
          <tr>
            <th id="Default" class="menu-entry">
              All
            </th>
            <th id="Watching" class="menu-entry">
              Watching
            </th>
            <th id="Completed" class="menu-entry">
              Completed
            </th>
            <th id="OnHold" class="menu-entry">
              On hold
            </th>
            <th id="Dropped" class="menu-entry">
              Dropped
            </th>
            <th id="PTW" class="menu-entry">
              Plan to watch
          </tr>
          </thead>
        </table>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Poster</th>
            <th scope="col">Title</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of userList.getUserList()">
                <th scope="row">
                <img src="{{item.poster}}" height="100px" alt="" class="menu-entry" id="{{item.id}}" title="{{item.type}}" (click)="goto($event)">
                </th>
                <td class="menu-entry" id="{{item.id}}" title="{{item.type}}" (click)="goto($event)">{{item.title}}</td>
                <td>{{item.status}}</td> <!-- qui andrebbe fatto uno switch che consente di cambiare lo stato dell'anime mostrando l'icona dello stato corrente-->
                <td>
                  <div id="{{item.id + '_' + item.type}}" (click)="remove($event)"><fa-icon [icon]="faTrashCan" class="menu-entry" id="delete"></fa-icon></div>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <h2 [hidden]="userList.getErrorMessage() === ''" [innerHTML]="userList.getErrorMessage()" [ngClass]="{'dark-mode':this.themeService.isDarkTheme()}"></h2>
</body>
