*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.footerContainer{
  width: 100%;
}

.icons{
  display: flex;
  justify-content: center;
}

.icons a{
  text-decoration: none;
  padding: 10px;
  margin: auto;
  border-radius: 50%;
}

p{
  color: white;
}
