*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.footerContainer{
  width: 100%;
}

.icons{
  display: flex;
  justify-content: center;
}

.icons a{
  text-decoration: none;
  padding: 10px;
  margin: auto;
  border-radius: 50%;
}

.custom-size{
  width: 30px;
  height: 30px;
}

fa-icon{
  color: #b7b5b5;
}

fa-icon:hover{
  filter: brightness(200%);
}

.icons a:hover{
  filter:brightness(120%);
}


p{
  color: white;
}
