<body [ngClass]="{'dark-mode':this.themeService.isDarkTheme()}">
<section>
  <div class="container mt-5 pt-5">
    <div class="row">
      <div class="col-12 col-sm-8 col-md-6 m-auto">
        <div class="card border-0 shadow">
          <div class="card-body">
            <h1 class="text-center">Recover Password</h1>
            <p [hidden]="show_message()" >Email not found or passwords don't match</p>
            <form (ngSubmit)="recover()" id="recoverPasswordForm" method="post">
              <input type="text" name="email" [(ngModel)]="email"  class="form-control my-3.py-2" placeholder="email">
              <div class="text-center" id="bottom">
                <button class="btn btn-primary">Recover</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
