<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">VideoTracker Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/logFile">Download Log File</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboardLogout">Log out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-5">
    <section class="text-center">
        <h2>User list</h2>
    </section>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th class="text-center">Banned</th>
            </tr>
            <tr th:each="user: ${users}">
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getEmail()}"></td>
                <td th:switch="${user.isBanned()}" class="text-center">
                    <form th:action="@{/ban}" th:id="${user.getId()}" method="post">
                        <button type="submit" th:form="${user.getId()}" class="transparent-button" name="button" th:value="${user.getId()}">
                            <svg th:case="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-ban-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M2.71 12.584q.328.378.706.707l9.875-9.875a7 7 0 0 0-.707-.707l-9.875 9.875Z"/>
                            </svg>
                            <svg th:case="false" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ban-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M2.71 12.584q.328.378.706.707l9.875-9.875a7 7 0 0 0-.707-.707l-9.875 9.875Z"/>
                            </svg>
                        </button>
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <div class="d-flex flex-column min-vh-75 justify-content-center text-center mt-5 pb-lg-5">
        <h1>Send notification</h1>
        <form id="notificationForm" class="form-text" th:action="@{/sendNotification}" method="post">
            <p>
                <label for="title" class="visually-hidden">Title</label>
                <input id="title" type="text" name="title" placeholder="Title" required autofocus class="form-control" />
            </p>
            <p>
                <label for="message" class="visually-hidden">Message</label>
                    <textarea id="message" name="message" form="notificationForm" class="form-control" placeholder="Message" style="resize: none; height: 100px" required ></textarea>
            </p>
            <button type="submit" value="Send" class="btn btn-primary">Send Notification</button>
        </form>
    </div>

    <script th:inline="javascript">
        /* Function to send notification */
        function sendNotification() {
            // Implementa la logica per l'invio delle notifiche
            alert('Notifica inviata!');
        }

        /* Function to get log file */
        function viewLogFile() {
            alert('Visualizzazione del file di log');
        }
    </script>

</div>
<div class="footer mt-auto pt-lg-3 bg-transparent">
    <footer>
        <div class="container-fluid text-black-50 text-center">
            <p th:text="'VideoTracker Server ' + ${version}"></p>
        </div>
    </footer>
</div>
</body>
</html>
