<body [ngClass]="{'dark-mode':this.themeService.isDarkTheme()}">
<section>
  <div class="container mt-5 pt-5">
    <div class="row">
      <div class="col-12 col-sm-8 col-md-6 m-auto">
        <div class="card border-0 shadow">
          <div class="card-body">
            <svg class="bi bi-person-circle mx-auto my-3" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
            </svg>
            <form #signInForm="ngForm" (ngSubmit)="signIn(signInForm)">
              <h3 [hidden]="!email_in_use" [ngClass]="{'hidden': !email_in_use}" [innerHTML]="email_in_use_error" style="color: red;" ></h3>
              <h3 [hidden]="!password_mismatch" [ngClass]="{'hidden': !password_mismatch}" [innerHTML]="password_mismatch_error" style="color: red;" ></h3>
              <h3 [hidden]="!registration" [ngClass]="{'hidden': !registration}" [innerHTML]="registration_error" style="color: red;" ></h3>
              
              <input type="email" name="email" ngModel #email="ngModel" required email class="form-control my-3.py-2" placeholder="Email">
              <div class="error" *ngIf="email.touched">
                <p *ngIf="email.errors?.['required']" style="color: red;" >Field required</p>
                <p *ngIf="email.errors?.['email']" style="color: red;" >Not a valid Email</p>
              </div>
           
              <div class="spacingForm">
                <input type="text" name="username" ngModel #username="ngModel" required username class="form-control my-3.py-2" placeholder="Username">
                <div class="error" *ngIf="username.touched">
                  <p *ngIf="username.errors?.['required']" style="color: red;" >Field required</p>
                </div>
              </div>
  
              <div class="spacingForm">
                <input type="password" name="password" ngModel #password="ngModel" required password class="form-control my-3.py-2" placeholder="Password">
                <div class="error" *ngIf="password.touched">
                  <p *ngIf="password.errors?.['required']" style="color: red;" >Field required</p>
                </div>
              </div>
  
              <div class="spacingForm">
                <input type="password" name="confirmPassword" ngModel #confirmPassword="ngModel" required confirmPassword class="form-control my-3.py-2" placeholder="Confirm Password">
                <div class="error" *ngIf="confirmPassword.touched">
                  <p *ngIf="confirmPassword.errors?.['required']" style="color: red;" >Field required</p>
                </div>
              </div>
              <div class="text-center spacingForm" id="bottom">
                <button type="submit" [disabled]="signInForm.invalid" class="btn btn-primary">Submit</button>
                <a [routerLink]="['/login']" class="nav-link spacingForm">Already have an account?</a>
              </div>
             </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
